version: 2.1
jobs:
  build: # name of your job
    machine: # executor type
      image: ubuntu-1604:202007-01
    resource_class: medium
    steps:
      - checkout
      - run: sudo apt-get install -y xvfb # Install xvfb so headful chrome/chromium is possible
      - run: sudo sysctl kernel.unprivileged_userns_clone=1
      - run: npm ci
      - run: TEST_WORKERS=1 TEST_TIMEOUT=120000 make test
