.popup-download-container {
    display: block;
    width: 400px;
    max-width: 400px;
    max-height: 600px;
}

.row {
    height: 30px;
    min-width: 180px;
    max-width: 250px;
    display: block;
    margin: 5px auto 0;
}

.download-button {
    max-width: 380px;
    width: 380px;
}

button {
    width: max-content;
    outline: none;
    color: #3a1e43;
    border: solid #3a1e43 1px;
    border-radius: 8px;
    background: transparent;
    box-shadow: 1px 1px #4a2e53;
}

button:hover,
button:focus {
    background: #f3e9f5;
    box-shadow: 1px 1px #4a2e53;
}

button:active {
    /*background: #ceacd4;*/
    box-shadow: none;
}

button:disabled {
    background: transparent;
    color: #dedede;
    border: solid #dedede 1px;
    box-shadow: none;
}

#buttonText {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    font-weight: 200;
}

#downloadMobileStatus {
    width: max-content;
    outline: none;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 30px;
}

#supportedSites, #recentSites {
    width: 660px;
}

#appName {
    height: 25px;
    text-align: center;
    font-weight: bold;
    /*font-size: 15px;*/
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/**
used by popup.js
 */
.site {
    /*height: 50px;*/
    display: inline-block;
    outline: none;
    border: none;
}

/**
used by popup.js
 */

.siteIcon {
    height: 36px;
}

.siteIcon, .controlButton {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    outline: none;
    border: none;
}

.siteIcon:hover,
.siteIcon:focus, .controlButton:hover {
    /*border: solid #3a1e43 0px;*/
    border-radius: 4px;
    background: #f3e9f5;
    box-shadow: 1px 1px #4a2e53;
}

.siteIcon:active, .controlButton:active {
    /*border: solid #3a1e43 0px;*/
    box-shadow: none;
}

.sectionTitle {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.controlButton {
    /* width: 15px; */
    height: 15px;
    float: right;
    /*display: inline-block*/
}

.controlButtonImg {
    width: 10px;
    margin: auto;
    display: block;
}

.topControlRow {
    position: fixed;
    top: 10px;
    right: 10px;
}

#siteQuery {
    position: fixed;
    top: 10px;
    right: 35px;
}

#supportRequest, .sectionTitle, .removeButton {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    /*font-size: medium;*/
    font-weight: 200;
    overflow: hidden;
    margin: 8px 8px 8px 8px;
}

/* disable scroll bar on windows */
body::-webkit-scrollbar {
    display: none !important
}

.noselect {
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}


.configRow {
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
}

.configCheckbox {
    float: right;
}

.site-option-container {
    padding: 4px 4px;
}

.site-option {
    height: 24px;
    line-height: 24px;
    width: 100%;
    padding-top: 2px;
    display: flex;
    align-items: center; /* vertical alignment */
}

.site-option-label {
    padding-left: 8px;
    flex: 1;
    display: flex;
    align-items: center;
}

.site-option-checkbox, .site-option-range, .site-option-text {
    margin-left: auto;
    margin-right: 15px;
}

.site-option-range-slider {
    width: 100px;
}
.site-option-range-label {
    width: 24;
    text-align: center;
    vertical-align: auto;
    margin-left: 8px;
    margin-right: 15px;
}

.image-picker-container {
    padding: 4px 4px;
    height: 100%;
    width: 392px;
    overflow: hidden;
}

.image-pick-button-row {
    display: flex;
}

.image-pick-button {
    /* margin-left: auto; */
    margin: auto;
}

.image-picker-table {
    max-height: 400px;
    width: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.image-picker-row {
    display: flex;
    align-items: center;
    padding: 4px 4px;
    border-bottom: 1px solid #eee;
    cursor: pointer;
    gap: 4px;
}

.image-picker-thumbnail {
    width: 80px;
    height: 60px;
    display: inline-block;
    padding: 4px;
    border-radius: 4px;
    flex-shrink: 0px;
    display: inline-flex; /* important for <span> */
    align-items: center;
    justify-content: center;
    overflow: hidden;
}

.image-picker-thumbnail img {
    width: 100%;
    height: 100%;
    object-fit: contain;
    /* fill & crop */
}

img.thumbnail_small {
    width: 25px;
    height: 25px;
}

.image-picker-filename {
    width: 246px;
    margin-left: 4px;
    padding-left: 5px;
    overflow: hidden;
    /* font-size: 12px; */
}
