.row {
    height: 30px;
    min-width: 180px;
    max-width: 250px;
    display: block;
    margin: 5px auto 0;
}

button {
    width: max-content;
    outline: none;
    color: #3a1e43;
    border: solid #3a1e43 1px;
    border-radius: 8px;
    background: transparent;
    box-shadow: 1px 1px #4a2e53;
}

button:hover,
button:focus {
    background: #f3e9f5;
    box-shadow: 1px 1px #4a2e53;
}

button:active {
    /*background: #ceacd4;*/
    box-shadow: none;
}

button:disabled {
    background: transparent;
    color: #dedede;
    border: solid #dedede 1px;
    box-shadow: none;
}

#buttonText {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    font-weight: 200;
}

#downloadMobileStatus {
    width: max-content;
    outline: none;
    position: relative;
    padding-left: 3px;
    padding-right: 3px;
    line-height: 30px;
}

#supportedSites, #recentSites {
    width: 672px;
}

#appName {
    height: 25px;
    text-align: center;
    font-weight: bold;
    /*font-size: 15px;*/
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

/**
used by popup.js
 */
.site {
    /*height: 50px;*/
    display: inline-block;
    outline: none;
    border: none;
}

/**
used by popup.js
 */

.siteIcon {
    height: 40px;
}

.siteIcon, .controlButton {
    padding-top: 4px;
    padding-left: 4px;
    padding-right: 4px;
    outline: none;
    border: none;
}

.siteIcon:hover,
.siteIcon:focus, .controlButton:hover {
    /*border: solid #3a1e43 0px;*/
    border-radius: 4px;
    background: #f3e9f5;
    box-shadow: 1px 1px #4a2e53;
}

.siteIcon:active, .controlButton:active {
    /*border: solid #3a1e43 0px;*/
    box-shadow: none;
}

.sectionTitle {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    font-weight: 600;
}

.controlButton {
    width: 15px;
    height: 15px;
    float: right;
    /*display: inline-block*/
}

.controlButtonImg {
    width: 10px;
    margin: auto;
    display: block;
}

.topControlRow {
    position: fixed;
    top: 10px;
    right: 10px;
}

#siteQuery {
    position: fixed;
    top: 10px;
    right: 35px;
}

#supportRequest, .sectionTitle, .removeButton {
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
}

body {
    font-family: 'Noto Sans SC', sans-serif;
    font-size: 13px;
    line-height: 1.3;
    /*font-size: medium;*/
    font-weight: 200;
    overflow: hidden;
    margin: 8px 8px 8px 8px;
}

/* disable scroll bar on windows */
body::-webkit-scrollbar {
    display: none !important
}

.noselect {
    user-select: none; /* Non-prefixed version, currently supported by Chrome and Opera */
}

.configRow {
    height: 24px;
    line-height: 24px;
    vertical-align: middle;
}

.configCheckbox {
    float: right;
}

